
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

div {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  align-items: center;
  background-image: url("shambala-dragon-khan.html"); 
}

header{
  text-align: center;
}

.container {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1em;
  border-radius: 1em;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: -5px;
}

p{
  font-style:italic;
}

textarea{
  width: 100%;
  height: 60px;
}

.form-control{
  height: 2em;
  width: 100%;
}

button{
  height: 3em;
  border-radius: 50px;
  width: 60%;
  display: block;
  margin: auto;
}

input{
  margin: 0px;
  padding: 0px;
}
form-group {
  margin: auto;
  width: 100%
}
